/.gnupg/*
*.elc
example/target/*
example/target
example/classes
example/checkouts
example/pom.xml
example/pom.xml.asc
example/*.jar
example/*.class
example/.lein-*
example/.nrepl-port
example/smex-items
example/.hgignore
example/.hg/
auto-save-list/
.mc-lists.el
elpa/
projectile-bookmarks.eld